<h1>Built-in Pipes</h1>
<h4>Upper Case</h4>
{{title|uppercase}}
<h4>Lower Case</h4>
{{title|lowercase}}
<h4>Date</h4>
<h6>Medium</h6>{{todate|date:'medium'}}<br>
<h6>Short</h6>{{todate|date:'short'}}<br>
<h6>Full Date</h6>{{todate|date:'fullDate'}}<br>
<h6>Long Date</h6>{{todate|date:'longDate'}}<br>
<h6>Medium Date</h6>{{todate|date:'mediumDate'}}<br>
<h6>Short Date</h6>{{todate|date:'shortDate'}}<br>
<h6>Medium Time</h6>{{todate|date:'mediumTime'}}<br>
<h6>Short Time</h6>{{todate|date:'shortTime'}}<br>
{{todate|date:'M/d/y'}}<br>
{{todate|date:'y/M/d'}}
<h4>Currency</h4>
{{12127.8981|currency:'INR'}}<br>
{{12127.8981|currency:'USD'}}
<h4>Json</h4>
{{data|json}}

<h4>Decimal</h4>
{{12.14232323286327763|number:'3.4-6'}}
<h4>Percentage</h4>
{{0.3453|percent}}

<h4>Slice</h4>
{{numbers|slice:3:9}}