<form #myform1="ngForm" [appCustomvalid]="['emailid']">
<!-- [appCustomvalid]="['password','cpassword']"
  <h3>User Name</h3>
  <div>
    <input type="text" size="30" pInputText [(ngModel)]="firstname" name="firstname" required="required" minlength="3"
       #fname="ngModel">
    <span *ngIf="fname.errors?.required && (fname.touched)">First Name is Required</span>
    <span *ngIf="fname.errors?.minlength">First Name Contain Minimum 3 Charaters</span> -->
    <!-- <span *ngIf="fname.errors?.pattern">First Name Contain only Characters</span> -->

    <h3>Email Id</h3>
    <div>
      <input type="text" size="30" pInputText [(ngModel)]="emailid" name="emailid" required="required"
        pattern="^[a-zA-Z0-9.-]+@[a-zA-z0-9]+.com+$" #mail="ngModel">
      <span *ngIf="mail.errors?.required && (mail.touched)">Email Id is Required</span>
      <span *ngIf="mail.errors?.pattern">Email Id follow the Pattern ("^[a-zA-Z0-9]+@[a-zA-Z0-9]+.com")r</span>
    </div>
  
  <app-passchild [myform1]="myform1"></app-passchild>
  <button pButton type="button" label="Display" (click)='add()' [disabled]="!myform1.valid"></button>&nbsp;&nbsp;

  </form>
  